[Desktop Entry]
Name=Nanite Tiles
X-KDE-PluginInfo-Name=NaniteTiles
X-KDE-PluginInfo-Author=Nanite
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
